/* Prevent layout shift when modal opens */
html {
  --scrollbar-compensation: 0px;
}

body.modal-open {
  overflow: hidden;
  padding-right: var(--scrollbar-compensation); /* stops right shift */
}
